

.name { 
	width: 30em; 
}

th.m-abbrev, td.score { width: 120px; }


.pdf-only {
 display:none; 
}

td.l1{
	background-color: #E3B5B5; 
	
}

td.l2{
	background-color: #E3E288;
	}
	
td.l3{
	background-color: #BBE3B5; 
	}
	
td.l4{ 
	background-color: #B5C0E3; 
	}
	

table.pedagoggle-scores {
	margin: 0; 
	}

.pedagoggle-scores td, .pedagoggle-scores th { 
	font-size: 0.8em; 
}

.pedagoggle-scores th { 
	text-align: center; 
	}

/* Styles for test score grids */ 
.test-scores tr.odd, .test-scores tr.even {
  background-color: white; 
}


.test-scores td.test { 
  font-weight: bold; 
  padding: 5px; 
  }
  
 .test-scores th { 
   text-align: left; 
   padding: 5px; 
 }
  
.test_scores td.test {
  }

/* Styles for laying out tables as convensional forms. */ 
table.form-header { 
	border-collapse: collapse; 
	border-style: none;
	}

table.form-header td, table.form-header th { 
	border-style: none;
	padding: 0; 
	}
	
table.form-header th { 
	padding-bottom: 5px; 
	border-top: 1px solid; 
	text-align: left; 
	font-weight: normal; 
	font-size: 10px;  
	}
	
.vgap {
	margin-top: 10px; 
	}
	
	.hrule { 
	  border-bottom: solid 1pthx; 
	}
	
	.selected { 
	  font-weight: bold; 
	}
	
.forena-report .nav ul { 
  list-style:none; 
  padding: 0; 
  margin: 0;
}

.forena-report ul.nav  { 
  list-style:none;
  margin: 5px 0 0 0; 
  padding: 0; 
  }
  
.forena-report ul.hnav li {
  display: inline; 
  margin-right: 10px; 
  }

/*
  Variable Grid System (Fluid Version).
  Learn more ~ http://www.spry-soft.com/grids/
  Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

  Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.forena-report, .forena-report {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display:inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.forena-report .grid_1 {
  width:6.333%;
}

.forena-report .grid_2 {
  width:14.667%;
}

.forena-report .grid_3 {
  width:23.0%;
}

.forena-report .grid_4 {
  width:31.333%;
}

.forena-report .grid_5 {
  width:39.667%;
}

.forena-report .grid_6 {
  width:48.0%;
}

.forena-report .grid_7 {
  width:56.333%;
}

.forena-report .grid_8 {
  width:64.667%;
}

.forena-report .grid_9 {
  width:73.0%;
}

.forena-report .grid_10 {
  width:81.333%;
}

.forena-report .grid_11 {
  width:89.667%;
}

.forena-report .grid_12 {
  width:98.0%;
}



/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.forena-report .prefix_1 {
  padding-left:8.333%;
}

.forena-report .prefix_2 {
  padding-left:16.667%;
}

.forena-report .prefix_3 {
  padding-left:25.0%;
}

.forena-report .prefix_4 {
  padding-left:33.333%;
}

.forena-report .prefix_5 {
  padding-left:41.667%;
}

.forena-report .prefix_6 {
  padding-left:50.0%;
}

.forena-report .prefix_7 {
  padding-left:58.333%;
}

.forena-report .prefix_8 {
  padding-left:66.667%;
}

.forena-report .prefix_9 {
  padding-left:75.0%;
}

.forena-report .prefix_10 {
  padding-left:83.333%;
}

.forena-report .prefix_11 {
  padding-left:91.667%;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.forena-report .suffix_1 {
  padding-right:8.333%;
}

.forena-report .suffix_2 {
  padding-right:16.667%;
}

.forena-report .suffix_3 {
  padding-right:25.0%;
}

.forena-report .suffix_4 {
  padding-right:33.333%;
}

.forena-report .suffix_5 {
  padding-right:41.667%;
}

.forena-report .suffix_6 {
  padding-right:50.0%;
}

.forena-report .suffix_7 {
  padding-right:58.333%;
}

.forena-report .suffix_8 {
  padding-right:66.667%;
}

.forena-report .suffix_9 {
  padding-right:75.0%;
}

.forena-report .suffix_10 {
  padding-right:83.333%;
}

.forena-report .suffix_11 {
  padding-right:91.667%;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.forena-report .push_1 {
  left:8.333%;
}

.forena-report .push_2 {
  left:16.667%;
}

.forena-report .push_3 {
  left:25.0%;
}

.forena-report .push_4 {
  left:33.333%;
}

.forena-report .push_5 {
  left:41.667%;
}

.forena-report .push_6 {
  left:50.0%;
}

.forena-report .push_7 {
  left:58.333%;
}

.forena-report .push_8 {
  left:66.667%;
}

.forena-report .push_9 {
  left:75.0%;
}

.forena-report .push_10 {
  left:83.333%;
}

.forena-report .push_11 {
  left:91.667%;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.forena-report .pull_1 {
  left:-8.333%;
}

.forena-report .pull_2 {
  left:-16.667%;
}

.forena-report .pull_3 {
  left:-25.0%;
}

.forena-report .pull_4 {
  left:-33.333%;
}

.forena-report .pull_5 {
  left:-41.667%;
}

.forena-report .pull_6 {
  left:-50.0%;
}

.forena-report .pull_7 {
  left:-58.333%;
}

.forena-report .pull_8 {
  left:-66.667%;
}

.forena-report .pull_9 {
  left:-75.0%;
}

.forena-report .pull_10 {
  left:-83.333%;
}

.forena-report .pull_11 {
  left:-91.667%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

